<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Color Picker</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./style.css">

</head>
<body>

<div class="container">
	<div class="colorpicker column">
		<div id="picker"></div>
	</div>
	<div id="colors" class="column">
		<div id="colorscontent" style="color:#2f3640;">
			hex: #8d69fb<br/>
			rgb: rgb(141, 105, 251)<br/>
			hsl: hsl(255, 95, 70%)
		</div>
	</div>
</div>

  <script src='https://cdn.jsdelivr.net/npm/@jaames/iro@5'></script><script  src="./script.js"></script>

</body>
</html>
