<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Spacing</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container">
      <div class="eContainer">
        <div class="demo"></div>
        <div id="myElement" class="myElement">My Element</div>
        <div class="demo"></div>
      </div>
      <div class="center">
        <div class="fields-Container">
          <div class="field">
            <label for="margin">margin</label>
            <input type="text" name="margin" id="marginInput" />
          </div>
          <div class="field">
            <label for="padding">padding</label>
            <input type="text" name="padding" id="paddingInput" />
          </div>
          <div class="field">
            <label for="border">border</label>
            <input type="text" name="border" id="borderInput" />
            <input type="text" name="border" id="borderInput" />
            <input type="text" name="border" id="borderInput" />
          </div>
        </div>
        <button class="button" onclick="changeTriger()">Change Style</button>
      </div>
    </div>

    <script src="./script.js"></script>
  </body>
</html>
